/* Main modifiers */
html {
    scrollbar-width: thin;
    scrollbar-color: pink red;
}

/* Whole customized */
html::-webkit-scrollbar {
    width: 1.2vw;
}

html::-webkit-scrollbar-track {
    background-color: dimgray;
}

html::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 100vw;
}

html::-webkit-scrollbar-track:hover {
    background-color: gray;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: lightgray;
}